*, *:before, *:after {
  box-sizing: inherit;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

:root {
  font-size: $font-default;
}

body, html {
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  background-color: $background-color-main;
  font-family: 'Alegreya Sans', 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  flex: 1 0 auto;
}
