header {
  max-width: 80%; 
  margin: 40px auto;
}

@media (max-width: 520px) {
  .logo-container--crypto-news-logo {
    display: none;
  }

  .logo-container--bitcoin-logo {
    font-size: $font-size-27px;
  }

  header a {
    display: block;
    margin: 0 auto;
    width: 200px;
  }
}

