.logo-container--bitcoin-logo {
  font-family: $bitcoin-logo-font-family;
  font-size: $font-size-37px;
}

.logo-container--crypto-news-logo {
  font-family: $bitcoin-logo-font-family;
  font-weight: 600;
}
