h1 {
  font-size: $font-size-30px;
}

h2 {
  font-size: $font-size-27px;
}

article p {
  font-size: $font-size-21px;
  margin-top: 10px;
}

.main-section--paragraph {
  font-size: $font-size-21px;
}

a {
  text-decoration: 0;
}

main a {
  color: $white-color;
}

nav a {
  font-size: $font-size-21px;
  color: $button-color;
}

.main-section__to-login-button-container a {
  font-size: $font-size-30px;
}

.logo-container--bitcoin-logo, .logo-container--crypto-news-logo {
  font-family: $bitcoin-logo-font-family;
}

.logo-container--bitcoin-logo {
  font-size: $font-size-37px;
  font-weight: 900; 
}

.logo-container--crypto-news-logo {
  font-weight: 400;
  font-size: $font-size-21px;
}
