header {
  margin: $container-margin-top-bottom 0;
}

nav {
  margin-top: $container-margin-top-bottom;
  margin-left: 105px;
}

svg {
  margin-left: 40px;
}

header span {
  margin-left: 10px;
}

header a {
  margin-right: 20px;
}
