$font-size-37px: 37px;
$font-size-21px: 21px;
$font-size-30px: 30px;
$font-size-27px: 27px;

$bitcoin-logo-font-family: 'Exo 2', 'Impact', sans-serif;
$background-color-main: hsla(180, 12%, 88%, 1);

$error-color: hsla(0°, 100%, 50%, 0.6);
$error-color-border: hsla(0°, 100%, 50%, 1);
$white-color: hsla(360, 100%, 100%, 1);

$container-margin-top-bottom: 80px;
$button-color: hsla(131, 70%, 10%, 1);
