*, *:before, *:after {
  box-sizing: inherit; }

* {
  border: 0;
  margin: 0;
  padding: 0; }

:root {
  font-size: 16px; }

body, html {
  height: 100%; }

html {
  box-sizing: border-box; }

body {
  background-color: #dde4e4;
  font-family: 'Alegreya Sans', 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%; }

.wrapper {
  flex: 1 0 auto; }

a {
  text-decoration: 0; }

nav a {
  font-size: 21px; }

.logo-container--bitcoin-logo, .logo-container--crypto-news-logo {
  font-family: "Exo 2", "Impact", sans-serif; }

.logo-container--bitcoin-logo {
  font-size: 37px;
  font-weight: 900; }

.logo-container--crypto-news-logo {
  font-weight: 400;
  font-size: 21px; }

header {
  margin: 80px 0; }

nav {
  margin-top: 80px;
  margin-left: 105px; }

svg {
  margin-left: 40px; }

header span {
  margin-left: 10px; }

header a {
  margin-right: 20px; }

svg {
  height: 50px;
  width: 50px; }

.main-section__api-container {
  margin: 20px auto; }

.card-container {
  background-color: white;
  border-radius: 3px;
  display: inline-block;
  margin-right: 50px;
  padding: 20px; }

footer {
  flex-shrink: 0; }

.display-error {
  background-color: red;
  color: white;
  padding: 10px; }
